<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/authorize.css">
        <title>Page Not Found</title>
    </head>
<body>
    <div class="message">
        <h1>404. PAGE NOT FOUND</h1>
    </div>
</body>
</html>